/target
*.fq
!R1.fq
!R2.fq
fastp.json
fastp.html
test_data/*.fq
test_data/bench_*.fq
test_data/xlarge_*.fq
test_data/xxlarge_*.fq
test_data/xxxlarge_*.fq
test_data/adapter_trim_test.fastq

.todo
fasterp.json
R1.fq
*.trace
fastp

bulk_bottom.fastq
bulk_bottom.fastq.gz
comp.sh

fastq_preprocessor_test
SRR*
SRX*
download_ena_fastq.py
fasterp.html
book/src/*.html
book/book
.wrangler
node_modules